{% extends "accounts/base.html" %}
{% load static %}


{% block title %}Set New Password{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if validlink %}
                <h2 class="text-center">Set a New Password</h2>
                <form method="POST">
                    {% csrf_token %}
                    
                    {{ form.as_p }}
                    
                    <button type="submit" class="btn btn-success w-100">Change Password</button>
                </form>
            {% else %}
                <h2 class="text-danger">Password Reset Failed</h2>
                <p>The password reset link was invalid, perhaps because it has already been used. Please request a new password reset.</p>
                <a href="{% url 'password_reset' %}" class="btn btn-secondary">Request New Reset Link</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}